* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'VALORANT', sans-serif;
}
/*Navbar and main background picture*/
.mainback{
    background-image: url(../img/background/background12.png);
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    width: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo {
    color: #fd4556;
    font-size: 28px;
}

span {
    color: #fd4556;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: #fd4556;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
    transition: .3s;        
}

button {
    border: none;
    background: white;
    padding: 10px;    
    border-radius: 30px;
    color: #fd4556;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.torankup {
    color: #Fd4556;
    display:list-item;
    justify-content: center;
    align-items: center;
    margin-left: 1000px;
    margin-top: 350px;
  }

.torankup .button {
    margin-left: 300px;
    padding: 10px 20px;
    background-color: #e91e63;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
/*About Us section ----------------------*/
.aboutus{
    background-color: #101b25;
    padding: 10px;
    font-family: 'Inter', sans-serif;
}
.about-heading h2{
    color: #Fd4556;
    text-align: center;
    justify-items: center;
    padding: 10px;
}
.about-text{
    color:#Fd4556;
    padding-left: 10px;
    font-size:medium;
}
.about-text li{
    padding: 5px;
}
/*Why we better section-----------------*/
.whywebetter{
    background-image: url("../img/background/background14.png");
    background-attachment:fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-color: #0f1822; 
    color: #Fd4556;
}
.whywebetter h4{
    text-align: center;
    padding: 10px;
}
.whywebetter .row{
    display: flex;
}
.svgplush4{
    display: flex;
    margin-right: 5px;
}
/*Review section----------------------*/
    
.review{
    display:grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../img/agents/kayo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #7c7c7c;
    background-size: 58vh;
}
.review-heading{
    font-size: 2.2rem;
    font-weight: 500;
    color: #Fd4556;
    padding: 10px 20px;
    text-align: center;
}
.review-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.review-box{
    width: 600px;
    background-color: #fff;
    box-shadow: 2px 2px 30px;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.profile{
    display: flex;
    align-items: center;
}
.profile .image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.user{
    display: flex;
    flex-direction: column;
}
.user strong{
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.user span{
    font-size: 0.8rem;
}
.grade{
    color: #Fd4556;
}
.review-box:hover{
    transform: translateY(-5px);
    transition: all ease 0.3s;
}
/* Footer and Socials --------------------------*/
.footer {
    background-color: #303030;
    width: 100%;
    padding: 70px 30px 20px; 
}

.socials {
    display: flex;
    justify-content: center;
}

.socials a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socials a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
/* Social Animations --------------------------*/
.socials a:hover {
    background-color: black;
    transition: 0.5s
}

.socials a:hover i {
    color: white;
    transition: 0.5s;
}
/* Footer Navigations -----------------------*/
.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerBottom {
    background-color: #303030;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.design {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    color: white;
}
/* Footer Animations */
.footerNav ul li a:hover {
    opacity: 1;
}
/*Responsiveness-----------------*/
@media (max-width:1060px){
    .review-box{
        width: 45%;
        padding: 10px;
    }
} 
@media (max-width:790px){
    .review-box{
        width: 100%;
    }
}
@media (max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .grade{
        margin-top: 10px;
    }
}